DB_URL="mysql://root:root1234@localhost:3306/glamio"
JWT_SECRET=something_secret
CLOUDINARY_NAME=test
CLOUDINARY_API_KEY=test
CLOUDINARY_API_SECRET=test


# Host: sql12.freesqldatabase.com
# Database name: sql12820268
# Database user: sql12820268
# Database password: D3vHYpXDqN
# Port number: 3306