* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #d4a373;
  --secondary: #faedcd;
  --dark: #1a1a1a;
  --light: #ffffff;
  --transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

body {
  font-family: sans-serif;
}

.screens{
  margin-top: 38px;
}